* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #f5f5f5;
}
header {
  width: 100%;
  background-color: #ff8a00;
  height: 5rem;
}
header .headerLogo {
  float: left;
  height: 4rem;
  width: auto;
  margin-top: 0.5rem;
  margin-left: 3rem;
}
header .headerRight {
  float: right;
  height: 3rem;
  width: auto;
  margin-top: 1rem;
  margin-right: 2rem;
}
header > .headerRight:nth-of-type(2) {
  margin-right: 3.5rem;
}
nav {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  border-bottom: 1px solid #cfcfcf;
  box-sizing: border-box;
  padding-left: 2rem;
  background-color: #fff;
}
nav a {
  color: #555;
}
nav > a:nth-of-type(1) {
  color: #333;
  font-weight: 600;
}
.content {
  padding: 0 2rem;
}
.content li {
  padding: 2rem 0;
  border-bottom: 1px solid #ff8a00;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content li .left img {
  width: 9.5rem;
  height: 9.5rem;
}
.content li .right {
  width: 22rem;
}
.content li .right h2 {
  font-size: 1.4rem;
}
.content li .right p {
  color: #000;
  line-height: 2.3rem;
}
.content li .right p strong {
  color: #ff8a00;
  margin-left: 1.8rem;
}
.content li .right > p:first-of-type {
  margin-top: 0.5rem;
}
.content > li:last-of-type {
  border-bottom: none;
}
